{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="container-fluid d-block mb-3 ">
  <div class="row">
    <div class="col banner">
    
    </div>
  </div>

  <div class="row text-center my-2 banner-text">
    <div class="col">
      <h1 class='hero-text vivify '>Learn English in the heart of Dublin</h1>
      <hr class='vivify hero-text-divider'>
      <p class='hero-text-2 vivify my-3'>Courses to suit all ages and levels.</p>
      <p class='hero-text-3 vivify my-3'>Fun and engaging teachers.</p>
      <p class='hero-text-4 vivify my-3'>Reach your English goals.</p>
      <div class="d-flex justify-content-center my-2 vivfiy hero-btn">
        <a href="{% url 'courses' %}" class="btn btn-primary">Find Courses</a>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid why-study-banner text-center">
  <div class="row">
    <h1 class='mt-4 my-md-5'>Why Study at Temple Bar School of English?</h1>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-2 mb-3 mb-md-5">
      <div class="card h-100" >
        <div class="card-body">
          <a href="#" class="me-4 lg-icons">
            <i class="fas fa-chalkboard-teacher"></i>
          </a>
          <h5 class=text-black>The best teaching from qualified and experienced native speakers</h5>

        </div>
      </div>
      
    </div>
    <div class="col-md-3 mb-3 mb-md-5">
      <div class="card h-100 " >
        <div class="card-body">
          <a href="#" class="me-4 lg-icons">
            <i class="fas fa-school  "></i>
          </a>
          <h5 class=text-black>State-of-the-art facilities and resources with spacious classrooms.</h5>

        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 mb-md-5">
      <div class="card h-100 5">
        <div class="card-body">
          <a href="#" class="me-4 lg-icons">
            <i class="fas fa-user-graduate"></i>
          </a>
          <h5 class=text-black> Over 30 years experience of helping students from all over the world succeed.</h5>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid  d-block">
  <div class="row text-center my-3">
    <h1 class=''>A wide range of courses available </h1>
  </div>
  <div class="row ">
    <div class="col-md-3 mb-2 mb-md-5">
      <div class="card h-100 shadow">
        <img src="/media/students_chatting.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">General English</h5>
          <p class="card-text">Our most popular choice. Suitable for all levels from beginner to advanced.</p>
         </div>
          <div class="card-footer border-0 bg-transparent mb-2">
              <a href="{% url 'courses' %}?category=general" class="btn btn-primary">Search for Courses</a>
          </div>  
       
      </div>

    </div>
    <div class="col-md-3 mb-2 mb-md-5">
      <div class="card h-100 shadow" >
        <img src="/media/students_in_class.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Academic English</h5>
          <p class="card-text">IELTS, Cambridge exams and TOEFL classes to help you achieve your academic requirements.
            content.</p>
        </div>
        <div class="card-footer border-0 bg-transparent mb-2">
          <a href="{% url 'courses' %}?category=academic" class="btn btn-primary">Search for Courses</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-2 mb-md-5">
      <div class="card h-100 shadow">
        <img src="/media/students_in_class.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Business English</h5>
          <p class="card-text">English for professional life can help you improve your CV and advance your career.</p>
         
        </div>
        <div class="card-footer border-0 bg-transparent mb-2">
          <a href="{% url 'courses' %}?category=business" class="btn btn-primary">Search for Courses</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-2 mb-md-5">
      <div class="card h-100 shadow" >
        <img src="/media/students_chatting.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">English for Under 16s</h5>
          <p class="card-text">Our under-16s programme caters for all ages over 5 and provides a fun and informative way of teaching children English.</p>
         
        </div>
        <div class="card-footer border-0 bg-transparent mb-2">
          <a href="{% url 'courses' %}?category=under_16s" class="btn btn-primary">Search for Courses</a>
      </div>
      </div>
    </div>

  </div>
</div>




{% endblock %}