{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="container-fluid d-block mb-3 ">
  <div class="row">
    <div class="col banner">
      <h1 class="mx-auto my-5 heading-bg banner-heading-text p-3 d-none d-md-block">Temple Bar School of
        English</h1>
      <h1 class="mt-3 mobile-banner-heading heading-bg d-block d-md-none p-1">Temple <br> Bar <br> School of <br>
        English</h1>

    </div>
  </div>

  <div class="row text-center my-2 banner-text">
    <div class="col">
      <h1 class='title-text vivify '>Learn English in the heart of Dublin</h1>
      <hr class='vivify title-text-divider'>
      <p class='title-text-2 vivify my-3'>Courses to suit all ages and levels.</p>
      <p class='title-text-3 vivify my-3'>Fun and engaging teachers.</p>
      <p class='title-text-4 vivify my-3'>Reach your English goals.</p>
      <div class="d-flex justify-content-center my-2 vivfiy title-btn">
        <a href="{% url 'courses' %}" class="btn btn-primary">Find Courses</a>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid why-study-banner text-center">
  <div class="row">
    <h1 class='my-4 my-md-5'>Why Study at Temple Bar School of English?</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 mb-3 mb-md-5">
      <div class="card h-100 py-xl-5">
        <div class="card-body ">
          <div class="me-4 lg-icons">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <h5 class=text-black>The best teaching from qualified and experienced native speakers</h5>

        </div>
      </div>

    </div>
    <div class="col-md-3 mb-3 mb-md-5">
      <div class="card h-100 py-xl-5 ">
        <div class="card-body">
          <div class="me-4 lg-icons">
            <i class="fas fa-school"></i>
          </div>
          <h5 class=text-black>State-of-the-art facilities and resources with spacious classrooms.</h5>

        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 mb-md-5">
      <div class="card h-100 py-xl-5">
        <div class="card-body">
          <div class="me-4 lg-icons">
            <i class="fas fa-user-graduate"></i>
          </div>
          <h5 class=text-black> Over 30 years experience of helping students from all over the world succeed.</h5>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid d-block">
  <div class="row text-center my-3">
    <h1>A wide range of courses available </h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3 mb-2 mb-md-5">
      <div class="card h-100 shadow">
        <img src="{{MEDIA_URL}}students_chatting.jpg" class="card-img-top"
          alt="Four young adult students chatting around a table">
        <div class="card-body ">
          <h5 class="card-title">General English</h5>
          <p class="card-text">Our most popular choice. Suitable for all levels from beginner to advanced.</p>
        </div>
        <div class="card-footer border-0 bg-transparent mb-2">
          <a href="{% url 'course_library' %}?category=general" class="btn btn-primary">Search for Courses</a>
        </div>

      </div>

    </div>
    <div class="col-md-6 col-lg-3 mb-2 mb-md-5">
      <div class="card h-100 shadow">
        <img src="{{MEDIA_URL}}university_student.jpg" class="card-img-top"
          alt="A university student standing on steps holding books">
        <div class="card-body">
          <h5 class="card-title">Academic English</h5>
          <p class="card-text">IELTS, Cambridge exams and TOEFL classes to help you achieve your academic requirements.
            content.</p>
        </div>
        <div class="card-footer border-0 bg-transparent mb-2">
          <a href="{% url 'course_library' %}?category=academic" class="btn btn-primary">Search for Courses</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2 mb-md-5">
      <div class="card h-100 shadow">
        <img src="{{MEDIA_URL}}business_women.jpg" class="card-img-top" alt="Two businesswoman talking at a desk">
        <div class="card-body">
          <h5 class="card-title">Business English</h5>
          <p class="card-text">English for professional life can help you improve your CV and advance your career.</p>

        </div>
        <div class="card-footer border-0 bg-transparent mb-2">
          <a href="{% url 'course_library' %}?category=business" class="btn btn-primary">Search for Courses</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2 mb-md-5">
      <div class="card h-100 shadow">
        <img src="{{MEDIA_URL}}young_students_in_class.jpg" class="card-img-top" alt="Youn students in a classroom">
        <div class="card-body">
          <h5 class="card-title">English for Under 16s</h5>
          <p class="card-text">Our under-16s programme caters for all ages over 5 and provides a fun and informative way
            of teaching children English.</p>
        </div>
        <div class="card-footer border-0 bg-transparent mb-2">
          <a href="{% url 'course_library' %}?category=under_16s" class="btn btn-primary">Search for Courses</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid why-study-banner text-center">
  <div class="row">
    <h1 class='my-4 my-md-5'>Why Our Students say</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-3 mb-3 mb-lg-5">
      <div class="card shadow h-100 ">
        <img src="{{MEDIA_URL}}female_student2.jpg" class='card-img-top img-responsive'
          alt="A female former student of Temple Bar School of English">
        <div class="card-body">
          <figure>
            <blockquote class="blockquote text-black">
              <p>I started studying at Temple Bar School with a B1 level and after studying for 2 months I managed to
                pass my IELTS exam with a band 7. The teachers were so friendly and knowledgeable and helped me improve
                my wriiting so much.</p>
            </blockquote>
            <figcaption class="blockquote-footer mt-2">
              <cite title="Source Title">Makiko, IELTS student from Japan</cite>
            </figcaption>
          </figure>

        </div>
      </div>

    </div>
    <div class="col-xl-3 mb-3 mb-lg-5">
      <div class="card h-100  ">
        <img src="{{MEDIA_URL}}female_student1.jpg" class='card-img-top'
          alt="A female former student of Temple Bar School of English">
        <div class="card-body">
          <figure>
            <blockquote class="blockquote text-black">
              <p>Temple Bar School of English helped me become confident in my English abilities. I studied for 3 months
                on the General English Course and improved my spoken English so much I was able to find a job in Dublin.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mt-2">
              <cite title="Source Title"> Gabriella, General English Student from Brazil </cite>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
    <div class="col-xl-3 mb-3 mb-lg-5">
      <div class="card h-100 ">
        <img src="{{MEDIA_URL}}male_student.jpg" class='card-img-top'
          alt="A male former student of Temple Bar School of English">
        <div class="card-body">
          <figure>
            <blockquote class="blockquote text-black">
              <p>Temple Bar School is such a good place to study in Dublin, I met so many peope from around the world
                and Dublin is great city to live in. My English improved so quickly becuase I was speaking English every
                day and getting such good advice from the teachers. </p>
            </blockquote>
            <figcaption class="blockquote-footer mt-2">
              <cite title="Source Title ">Antonio, General English Student from Argentina.</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

</div>




{% endblock %}