{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/booking_form.css' %} ">
{% endblock %}


{% block content %}


<div class="container my-5" id="details-summary">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <h3 class='card-header booking-card-header'>Booking Summary</h3>
                <div class="card-body">
                    <h3 class = 'card-title mb-4'>{{course.friendly_name}} <span class="small">({{course.course_id}}) </span></h3>
                    <!-- Maybe add function to calculate end date???? -->
                    <!-- Imporve Style -->
                    <p>Course Start Date - <span class="fs-5">{{booking.course_start_date}}</span> </p>
                    <p>Course Length - <span class="fs-5">{{booking.course_length }} {% if booking.course_length == 1 %} week {% else %} weeks {% endif %}</span> </p>
                    <p>Course Timetable - <span class="fs-5">{{course.course_timetable}}</span> </p>
                    <p>Course Total Hours - <span class="fs-5">{{course.course_hours}} hours per week</span> </p>
                    <p>Course Level - <span class="fs-5">{{booking.course_level}}</span></p>
                    <h5>Student Details</h5>
                    <p>Student Name - <span class="fs-5">{{booking.full_name}}</span></p>
                    <p>Student Email -<span class="fs-5">{{booking.email}}</span></p>
                    <p>Student Phone Number - <span class="fs-5">{{booking.phone_number}}</span></p>
                    <p>Student Nationality / First Language - <span class="fs-5">{{booking.nationality}} / {{booking.first_language}} </span> </p>

                </div>
            </div>
        </div>
    </div>
</div>
<h1>Payment Details</h1>
<form id='payment-form' method="POST" action="{% url 'checkout' booking %}">
   {% csrf_token %}

 <fieldset class="px-3"> 
                    <legend class="fieldset-label small"> Card Details</legend> 
                    <div class="mb-3 p-2" id="card-element"></div> 
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div> 
                    
                </fieldset> 
                <div class="submit-button text-right mt-5 mb-5">
                    <a href="{% url 'courses' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Back to Courses</span>
                    </a>
                    <button id="submit-button" type ='submit' class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Proceed to Payment</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    
                </div>
</form>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
    
{% endblock %}