{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Image and animated heading -->
<div class="container-fluid">
    <div class="row course-banner-img">
      <div class="container-fluid my-3 text-center ">
        <div class="row ">
          <div class="col">
            <h1 class='heading-bg mx-auto p-3 my-5 vivify'>{{post.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<article>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-g-5 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 my-5">
                <h2 class='blog-heading'>{{post.title}}</h2>
                <p class='blog-sub-heading ' >{{post.description}}</p>
                <hr class='my-4'>
                <p class = 'post-content'>{{post.post_content}}</p>
                <p class= 'text-muted'>Written by {{post.author}}</p>
                <p class='text-muted'>Posted on {{post.date_posted}}</p>
                <p class='text-muted'>{{post.likes}} likes</p>
                    
            </div>
        </div>
    </div>
</article>
 

{% endblock %}