{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Image and animated heading -->
<div class="container-fluid">
    <div class="row course-banner-img">
      <div class="container-fluid my-3 text-center ">
        <div class="row ">
          <div class="col">
            <h1 class='heading-bg mx-auto p-3 my-5 vivify'>Blog Title</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<article>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-g-5 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 my-5">
                <h2 class='blog-heading'>Blog Article One</h2>
                <p class='blog-sub-heading ' >Learn Phrasal Verbs</p>
                <hr class='my-4'>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis distinctio molestias, a necessitatibus iure maiores doloribus alias deserunt! Itaque aperiam labore nesciunt, facilis facere sit animi maiores voluptatibus necessitatibus quasi!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, dolore quo? Porro animi corrupti vitae delectus accusantium recusandae, quisquam dolorum distinctio quas nam ipsa cum consectetur dicta ex, saepe quos?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, dolore quo? Porro animi corrupti vitae delectus accusantium recusandae, quisquam dolorum distinctio quas nam ipsa cum consectetur dicta ex, saepe quos?</p>
            </div>
        </div>
    </div>
</article>
 

{% endblock %}