{% extends 'base.html' %}
{% load static %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class='text-center mt-3 my-xl-5 bg-green px-2 mx-auto'>Level Test</h1>
            <!-- Sub-heading hidden on smaller screen sies to ensure user doesn't have to scroll down for each question -->
            <h2 class="text-center d-none d-md-block">Discover your English level by taking our test.</h2>
            <p class='text-center'>Choose the answer that best fits the gap</p>
        </div>
    </div>
</div>

<form method="GET" action="{% url 'check_answer' question_counter total %}">
    <div class="container question-container mt-xl-5">
        <div class="card mb-5">
            <div class="card-header">
                <h3 class='border rounded-circle question-number text-center'>{{question.question_number}}</h3>
                <p class='ms-3'>{{question.question_text}}</p>
            </div>
            <div class="card-block ">
                <div class="row  g-0 text-center">
                    <div class="col-sm-6 border py-2 py-md-3 py-xl-5">
                        <button name='answer' value='{{question.option1}}'
                            class='btn btn-primary w-50 h-75 p-lg-4 my-3'>{{question.option1}}</button>
                    </div>
                    <div class=" col-sm-6 py-2 py-md-3 py-xl-5 border ">
                        <button name='answer' class='btn btn-primary p-lg-4 w-50 h-75 my-3'
                            value='{{question.option2}}'>{{question.option2}}</button>
                    </div>
                    <div class=" col-sm-6 py-2 py-md-3 py-xl-5 border ">
                        <button name='answer' class='btn btn-primary p-lg-4 w-50 h-75 my-3'
                            value='{{question.option3}}'>{{question.option3}}</button>
                    </div>
                    <div class=" col-sm-6 py-2 py-md-3  py-xl-5 border ">
                        <button name='answer' class='btn btn-primary p-lg-4 w-50 h-75 my-3'
                            value='{{question.option4}}'>{{question.option4}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block postloadjs %}
{{ block.super }}


{% endblock %}
