.booking-heading{
    background: var(--main-green);
    color: white;
    border: 3px solid #f1f1f1;
    width: fit-content;
}
.booking-card-header{
    background-color: var(--button-background);
    color:var(--main-white);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* Country field placeholder to grey taken from Boutique Ado */
select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}
.stripe-style-input::placeholder {
    color: #aab7c4;
}


#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.dateinput::placeholder{
    color:#aab7c4  ;
}

.total-cost{
    font-size: 1.5rem;
}

